<div class="aboutDiv">

    <h1 class="about">About</h1>

    <p class="info">Peter Parker is a former college student who was bitten by a genetically modified spider. The spider
        that bit him had extreme
        speed, stength, senses, jumping abilites, and combative nature. Parker then became like this spider. With his
        newly "inherited"
        powers and abilities, he could now climb up buildings, shoot extremely strong web and swing from it, and fight
        the most
        powerful criminals. With this, Peter Parker set out to save New York City from constant crime as we know it to
        have. He did this while
        keeping his spiderman identity anonymous and being in love with the same woman he's loved since childhood.
    </p>

    <p class="Tech">Technical Expertise</p>
    <ul class="techList">
        <li>Glider Sabatoge</li>
        <li>Web Design</li>
        <li>Parkour Photography</li>
        <li>Moped Operator</li>
        <li>5th Degree BlackBelt</li>
    </ul>


</div>