.jobInfo {
    font-size: 30px;
    text-align: center;
    border: solid 3px rgb(44, 32, 212);
    margin: 260PX;
    color: red;
    height: 200px;
    padding: 80px;

}

.back {
    margin: 20px;
    font-weight: bold;
    font-size: 17px;
    padding: 10px;

}