.jDetails {
    border: solid 3px red;
    margin: 220px;
    height: 400px;
    text-align: center;
}

.top {
    font-size: 55px;
    padding-top: 40px;
    font-weight: bold;
}

.jList {
    font-size: 25px;
    padding-bottom: 10px;
    color: rgb(209, 19, 19);
}